html,body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}
.hero.is-primary {
  background: linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ), url('../../pictures/FL5884552_DIGI_0020_13065_R.Low.small.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.hero .nav, .hero.is-info .nav {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.hero .subtitle {
  padding: 3rem 0;
  line-height: 1.5;
}

#map {
    height: 77vh;
    color: black;
    z-index:1;
}

#modal{ z-index:2; }

#postcardbox {
    height: 81vh;
}

.tableauPlaceholder {
    margin: 0 auto;
}
